<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">About</h1>

    <img src="images/picture.webp" alt="Laptop" width="473" height="316">
    <p class="fs-2">Photo by Garret Shear on Unplash</p>

    <div class="pt-3 d-flex justify-content-center align-items-center">
       <p class=" fs-2  text-center me-2 ">This is a simple user management system.</p>
       <p class="fs-2 text-center">Check out my<a href="https://github.com/Vandu024"><b class="ms-3">Github</b></a></p>
    </div>
</div>